:root{
    --blue:#6938F1;
    --blue-hover:#5c2be0;
    --red-orange: #e94f37;
    --yellow:#FFD166;
    --lighter-grey: #e2e2e200;
    --dark-grey:#393e4158;
    --white:#fffcf929;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    
}

body{
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('svg/background city.jpg');
    background-position: center;
    background-repeat: none;
    background-size:cover;

}

main{
    margin-top: 8%;
    width: 70%;
    max-width: 600px;
    min-width: 400px;
    text-align: center;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    background-color:var(--white);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.15);
}

section{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    gap: 1em;
    border-radius: 20px;
    background-color: 
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.25);
}

header h1{
    margin-top: 1em;
    font-size: 3rem;
    color: white;
}

header p{
    font-style: italic;
    color: white;
}

.sign-in h1{
    font-size: 120px;
    color: white;
    margin-top: -.4em;
    margin-bottom: -.2em;
}

.sign-in button{
    width: 100%;
    font-size: 1.2rem;
    background-color:rgb(255, 166, 0);
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.sign-in button:hover{
    background-color: rgb(255, 204, 0);

}

.info-cards{
    display: flex;
    flex-direction: row;
    margin-top: -2em;
}

.card{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 1em;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.15);
}

.card h1{
    color: white;
}

.card p{
    color:white;
}

.card:nth-child(2){
    background-color: ;
}

.card:nth-child(2) h1{
    color: white
}


@media(max-width: 400px){
    main{
        width: 100%;
    }
}

@media(max-width: 850px){
    .info-cards{
        flex-direction: column;
    }
}









